<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4">
      <h2 class="text-center mb-5">Create your drink</h2>
      <%= form_for(@drink) do |drink| %>
        <%= drink.label :name %>
        <%= drink.text_field :name %>
        <br>
        <%= drink.label :description %>
        <%= drink.text_field :description %>
        <br>
        <%= drink.label :size %>
        <%= drink.text_field :size %>
        <br>
        <%= drink.label :ice %>
        <%= drink.text_field :ice %>
        <br>
        <%= drink.label :flavours %>
        <%= drink.text_field :flavours %>
        <br>
        <%= drink.label :milk %>
        <%= drink.text_field :milk %>
        <br>
        <%= drink.label :shot %>
        <%= drink.text_field :shot %>
        <br>
        <%= drink.label :toppings %>
        <%= drink.text_field :toppings %>
        <br>
        <%= drink.label :rating %>
        <%= drink.number_field :rating %>
        <br>
        <%= drink.file_field :picture %>
        <br>
        <%= drink.submit %>
      <% end %>
    </div>
  </div>
</div>

