<div class="container">
  <div class="card-product">
    <%= image_tag url_for(controller: 'drinks', 
                      action: 'show', 
                      id: @drink.id) %>
    <div class="card-product-infos">
      <h2><%= @drink.name %></h2>
      <p><%= @drink.description %></p>
      <p>Size: <%= @drink.size %></p>

      <% unless @drink.ice.nil? %>
        <p>Ice: <%= @drink.ice %></p>
      <% end %>

      <p>Flavours: <%= @drink.flavours %></p>

      <% unless @drink.milk.nil? %>
        <p>Milk: <%= @drink.milk %></p>
      <% end %>
      
      <% unless @drink.shot.nil? %>
        <p>Shot: <%= @drink.shot %></p>
      <% end %>

      <% unless @drink.toppings.nil? %>
        <p>Toppings: <%= @drink.toppings %></p>
      <% end %>
      
      <p>Rating: <%= render_stars(@drink.rating)%></p>
    </div>

    

    <% if current_user %>
  <%= link_to "favorite",   favorite_drink_path(@drink, type: "favorite"), method: :put %>
  <%= link_to "unfavorite", favorite_drink_path(@drink, type: "unfavorite"), method: :put %>
<% end %>
  </div>

  <% if user_signed_in? %>
    <%= link_to "Edit",
        edit_drink_path(@drink) %>
  <% else %>
    <%= link_to "Edit", new_user_session_path, data: { confirm: "You must log in" } %>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "Delete",
                drink_path(@drink),
                method: :delete,
                data: { confirm: "Are you sure?" } %>
  <% else %>
    <%= link_to "Delete", new_user_session_path, data: { confirm: "You must log in" } %>
  <% end %>

  <div class="product-review">
    <h3>
      <%= pluralize @drink.reviews.size, "review" %>
    </h3>

    <div class="reviews">
      <% if @drink.reviews.blank? %>
        Be the first to leave a review for <%= @drink.name %>
      <% else %>
        <% @drink.reviews.each do |review| %>
          <p><%= review.content %> <%= render_stars(review.rating)%> <%= link_to "Remove", review_path(review), method: :delete, data: { confirm: "Are you sure?" } %></p>
        <% end %>
      <% end %>
    </div>

    <div class="review-btn">
      <% if user_signed_in? %>
        <%= link_to 'Leave a review', new_drink_review_path(@drink), class: "btn btn-flat" %>
      <% else %>
        <%= link_to "Leave a review", new_user_session_path, data: { confirm: "You must log in" }, class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>

