<p>Find me in app/views/pages/home.html.erb</p>

<h2><%= @drink.name %></h2>
<p><%= @drink.description %></p>
<p><%= @drink.size %></p>
<p><%= @drink.ice %></p>
<p><%= @drink.flavours %></p>
<p><%= @drink.milk %></p>
<p><%= @drink.shot %></p>
<p><%= @drink.toppings %></p>
<p><%= @drink.rating %></p>

<ul class="list-group">
  <% @drink.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= review.rating %>
      <%= link_to "Remove", 
                  review_path(review),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', drinks_path %>

<%= link_to "Edit",
            edit_drink_path(@drink) %>

<%= link_to 'Leave a review', new_drink_review_path(@drink) %>

<%= link_to "Delete",
            drink_path(@drink),
            method: :delete,
            data: { confirm: "Are you sure?" } %>



<% if user_signed_in? %>
  <%= link_to "Edit",
      edit_drink_path(@drink) %>
<% else %>
  <%= link_to "Edit", new_user_session_path, data: { confirm: "You must log in" } %>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Leave a review', new_drink_review_path(@drink) %>
<% else %>
  <%= link_to "Leave a review", new_user_session_path, data: { confirm: "You must log in" } %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Delete",
              drink_path(@drink),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
  <% else %>
    <%= link_to "Delete", new_user_session_path, data: { confirm: "You must log in" } %>
  <% end %>