<div class="container pt-5">
  <h3>Hi <%= @user.name %>!</h3>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a href="#tab1" class="nav-link active" id="tab1-tab" data-toggle="tab" role="tab" aria-controls="tab1" aria-selected="true">Personal details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tab2" id="tab2-tab" data-toggle="tab" role="tab" aria-controls="tab2" aria-selected="false">Favorites</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
      <%= link_to "Edit", edit_user_registration_path %>
      <br>
      <h5>Email</h5>
      <h3><%= @user.email %></h3>
    </div>

    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      <h3>You have favorited 0 drinks in Starbucks</h3>
      <% @user.favorites do |favorite| %>
        <%= render partial: @user.favorites %>
      <% end %>

      <%= form_for(current_user.favorites.new, remote: true) do |f| %>
<%= hidden_field_tag :user_id, @user.id %>
<%= f.submit "Favorite" %>
<% end %>
    </div>
  </div>
</div>

