<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= simple_form_for [ @drink, @review ] do |drink| %>
        <%= drink.label :rating %>
        <%= drink.number_field :rating %>
        <%= drink.input :content %>
        <%= drink.submit "Submit review", class: "btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>